* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Css para la fuente */
@font-face {
    font-family: 'ubuntu-regular';
    src: url(../assets/fonts/Ubuntu/Ubuntu-Regular.ttf) format('truetype');
}

@font-face {
    font-family: 'ubuntu-italic';
    src: url(../assets/fonts/Ubuntu/Ubuntu-Italic.ttf) format('truetype');
}

body {
    font-family: "ubuntu-regular";
}

p {
    text-align: justify;
}

/* Css para el grid */
.grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas:
        'b1 b2 b2 b3'
        'b4 b4 b4 b4'
        'b5 b5 b5 b5'
        'b6 b6 b6 b6'
        'b7 b7 b8 b8';
}

.box {
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.b1 {
    background-color: #457D58;
    color: white;
    height: 80px;
    grid-area: b1;
}

.b2 {
    background-color: #457D58;
    color: white;
    min-height: 80px;
    max-height: max-content;
    grid-area: b2;
}

.b3 {
    background-color: #457D58;
    color: white;
    height: 80px;
    grid-area: b3;
}

.b4 {
    color: #666;
    grid-area: b4;
    padding-top: 20px;
    min-height: calc(100vh - 80px);
    max-height: 100%;
}

.b5 {
    color: #666;
    grid-area: b5;
    padding-top: 20px;
    max-height: 100%;
}

.b6 {
    color: #666;
    grid-area: b6;
    padding-top: 20px;
    padding-bottom: 20px;
    max-height: 100%;
}

.b7 {
    background-color: #457D58;
    color: white;
    height: 60px;
    grid-area: b7;
    justify-content: flex-start;
    padding-left: 40px;
}

.b8 {
    background-color: #457D58;
    color: white;
    height: 60px;
    grid-area: b8;
    justify-content: flex-end;
    padding-right: 40px;
}



/* Css para el Navbar */
.logo-nav {
    display: flex;
    align-items: center;
}

.logo-nav a {
    text-decoration: none;
    color: white;
    font-family: "ubuntu-regular";
    font-size: 30px;
    margin-left: 10px;
}

.logo-nav a:hover {
    color: rgba(255, 228, 196, 0.689);
}

.bi.bi-suitcase:hover {
    color: rgba(255, 228, 196, 0.689);
}

.logo img:hover {
    opacity: 80%;
}

.nav-link {
    color: white;
    font-family: "ubuntu-regular";
    font-size: 90%;
}

.nav-link:hover {
    color: rgba(255, 228, 196, 0.689);
}

.nav-pills {
    --bs-nav-pills-link-active-color: bisque;
    --bs-nav-pills-link-active-bg: #234f3297;
}

.nav-link.active {
    border-radius: 2%;
}

.social-media {
    display: flex;
    align-items: center;
    gap: 15px;
}

.social-media a {
    font-size: 30px;
    margin-left: 10px;
}

.bi.bi-youtube {
    color: white;
}

.bi.bi-youtube:hover {
    color: red;
}

.bi.bi-twitter-x {
    color: white;
}

.bi.bi-twitter-x:hover {
    color: black;
}

.bi.bi-instagram {
    color: white;
}

.bi.bi-instagram:hover {
    color: fuchsia
}

/*Css para el footer*/
.copyright {
    float: left;
    font-size: smaller;
    font-family: 'ubuntu-italic';
    margin-top: 10px;
}


.contacto {
    float: right;
    margin-right: 50px;
}

.contacto a {
    color: white;
    font-family: 'ubuntu-regular';
    font-weight: bold;
    font-size: 14px;
    text-decoration: none;
    margin-right: 10px;
    text-align: center;
    text-transform: uppercase;
}

.ir-arriba {
    position: fixed;
    right: 20px;
    bottom: 10px;
    cursor: pointer;
}

.ir-arriba img {
    width: 40px;
    height: 40px;
}

/* Mobile (teléfonos de 750px hasta 375px) */
@media (max-width: 750px) {
    .grid {
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas:
            'b1 b3'
            'b2 b2'
            'b4 b4'
            'b5 b5'
            'b6 b6'
            'b7 b8';
    }

    .b1 {
        height: auto;
        max-height: 130px;
        display: inline-block
    }

    .b2 {
        min-height: 130px;
        max-height: 100%;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .b3 {
        height: 130px;
        max-height: 100%;
    }

    .logo-nav a {
        font-size: 45px;
        margin-left: 30px;
        margin-top: 10px;
        align-items: center;
        justify-content: center;
    }
    

}

/* Mobile (teléfonos de 375px o menos) */
@media (max-width: 375px) {
    .grid {
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas:
            'b1 b2'
            'b3 b2'
            'b4 b4'
            'b5 b5'
            'b6 b6'
            'b7 b8';
    }

    .b1 {
        height: auto;
        max-height: 130px;
        display: inline-block
    }

    .b2 {
        min-height: 130px;
        max-height: 100%;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .b3 {
        height: 130px;
        max-height: 100%;
    }

    .logo-nav a {
        font-size: 45px;
        margin-left: 10px;
    }

    .social-media a {
        font-size: 20px;
    }

    .nav-link {
        font-size: 75%;
    }

    .logo-nav a {
        font-size: 30px;
        margin-left: 30px;
        margin-top: 30px;
    }
}